<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serial_number %><br>
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :manufacturer_id %><br>
    <%= f.number_field :manufacturer_id %>
  </div>
  <div class="field">
    <%= f.label :inventory_number %><br>
    <%= f.number_field :inventory_number %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :asset_type_id %><br>
    <%= f.number_field :asset_type_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :purchase_order_id %><br>
    <%= f.number_field :purchase_order_id %>
  </div>
  <div class="field">
    <%= f.label :surplused_on %><br>
    <%= f.date_select :surplused_on %>
  </div>
  <div class="field">
    <%= f.label :building_id %><br>
    <%= f.number_field :building_id %>
  </div>
  <div class="field">
    <%= f.label :room %><br>
    <%= f.text_field :room %>
  </div>
  <div class="field">
    <%= f.label :rack_id %><br>
    <%= f.number_field :rack_id %>
  </div>
  <div class="field">
    <%= f.label :in_rack_unit %><br>
    <%= f.number_field :in_rack_unit %>
  </div>
  <div class="field">
    <%= f.label :primary_contact_id %><br>
    <%= f.number_field :primary_contact_id %>
  </div>
  <div class="field">
    <%= f.label :warranty_expiration %><br>
    <%= f.date_select :warranty_expiration %>
  </div>
  <div class="field">
    <%= f.label :warranty_provider_id %><br>
    <%= f.number_field :warranty_provider_id %>
  </div>
  <div class="field">
    <%= f.label :planned_eol %><br>
    <%= f.date_select :planned_eol %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
