<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @asset.serial_number %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @asset.manufacturer_id %>
</p>

<p>
  <strong>Inventory number:</strong>
  <%= @asset.inventory_number %>
</p>

<p>
  <strong>Model:</strong>
  <%= @asset.model %>
</p>

<p>
  <strong>Asset type:</strong>
  <%= @asset.asset_type_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @asset.notes %>
</p>

<p>
  <strong>Purchase order:</strong>
  <%= @asset.purchase_order_id %>
</p>

<p>
  <strong>Surplused on:</strong>
  <%= @asset.surplused_on %>
</p>

<p>
  <strong>Building:</strong>
  <%= @asset.building_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @asset.room %>
</p>

<p>
  <strong>Rack:</strong>
  <%= @asset.rack_id %>
</p>

<p>
  <strong>In rack unit:</strong>
  <%= @asset.in_rack_unit %>
</p>

<p>
  <strong>Primary contact:</strong>
  <%= @asset.primary_contact_id %>
</p>

<p>
  <strong>Warranty expiration:</strong>
  <%= @asset.warranty_expiration %>
</p>

<p>
  <strong>Warranty provider:</strong>
  <%= @asset.warranty_provider_id %>
</p>

<p>
  <strong>Planned eol:</strong>
  <%= @asset.planned_eol %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
